
.DS_Store
LectureNotes/.ipynb_checkpoints/Class_03_22Jan2024-checkpoint.ipynb
LectureNotes/.jupyter/desktop-workspaces/default-37a8.jupyterlab-workspace
Homework/.ipynb_checkpoints/HW5-checkpoint.ipynb
*.jupyterlab-workspace
Homework/HW06/.ipynb_checkpoints/HW06-checkpoint.ipynb
Homework/HW06/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Homework/HW08/.ipynb_checkpoints/HW08-checkpoint.ipynb
LectureNotes/.ipynb_checkpoints/Class10_12Feb2024-checkpoint.ipynb
LectureNotes/.ipynb_checkpoints/Class14_26Feb-checkpoint.ipynb
LectureNotes/.ipynb_checkpoints/HW5-checkpoint.ipynb
LectureNotes/Class15-28Feb2024/.ipynb_checkpoints/DataFile-checkpoint.csv
LectureNotes/Class15-28Feb2024/.ipynb_checkpoints/Geometry-checkpoint.png
LectureNotes/Class_10/.ipynb_checkpoints/Class10_12Feb2024-checkpoint.ipynb
LectureNotes/Class_11/.ipynb_checkpoints/Class_11-checkpoint.ipynb
LectureNotes/Class_11/.ipynb_checkpoints/SetupPracticeA-checkpoint.md
LectureNotes/Class_11/.ipynb_checkpoints/SHO-checkpoint.png
LectureNotes/Class_16/.ipynb_checkpoints/HW08-checkpoint.ipynb
LectureNotes/Class_17/.ipynb_checkpoints/Class17_03Mar2024-checkpoint.ipynb
LectureNotes/Class_17/.ipynb_checkpoints/Class17_04Mar2024-checkpoint.ipynb
LectureNotes/Class_17/.ipynb_checkpoints/untitled-checkpoint.md
LectureNotes/Class_17/.ipynb_checkpoints/untitled-checkpoint.txt
LectureNotes/Class15-28Feb2024/.ipynb_checkpoints/Class15_28Feb-checkpoint.ipynb
